* {
  box-sizing: border-box;
}

#gameCanvas {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border: black 2px;
  background-color: white; */
}

/* #score {
  text-align: center;
  font-size: 140px;
  font-family: Helvetica;
} */

/* #snake {
  border: black 1px;
  background-color: lightgreen;
}

#food {
  border: black 1px;
  background-color: red;
} */
