html, body {
  margin-top: -30px;
}

canvas {
border: solid lightgreen 3px;
display: flex;
margin-top: 180px;
background-color: black;
}

body {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  display: flex;
  position: absolute;
  align-self: flex-start;
  margin-top: 0px;
}

h1 {
  text-align: center;
  font-size: 90px;
  font-family: 'Share Tech Mono', monospace;
  color: white;
  font-weight: lighter;
}

.startScreen {
  padding: 0 4px 4px 4px;
  margin-top: 400px;
  margin-left: 30px;
  align-content: center;
  position: absolute;
  text-align: center;
  color: black;
  background-color: rgba(100, 225, 100, .5);
  font-size: 30px;
  border-radius: 10px;
  font-family: 'Share Tech Mono', monospace;
  /* animation: slideOut 5s forwards; */
}

.score {
  animation: smooth-animate 2s;
}

@keyframes smooth-animate {
  0% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(0%);
  }
}

/* @keyframes slideOut {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(400%);
  }
} */
/* #snake {
  border: black 1px;
  background-color: lightgreen;
}

#food {
  border: black 1px;
  background-color: red;
} */
