html, body {
  height: 100%;
  margin: 0;
}

canvas {
border: solid lightgreen 2px;
display: flex;
background-color: black;
}

body {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.score {
  display: flex;
  font-size: 140px;
  font-family: Helvetica;
  color: white;
}

/* #snake {
  border: black 1px;
  background-color: lightgreen;
}

#food {
  border: black 1px;
  background-color: red;
} */
